* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  height: 10vh;
  background-color: blue;
}
header {
  height: 40vh;
  background-color: brown;
}
main {
  height: 90vh;
  background-color: rgb(53, 40, 40);
}
.soluciones {
  height: 50vh;
  background-color: rgb(255, 8, 8);
}
.oportunidades {
  height: 40vh;
  background-color: rgb(98, 49, 179);
}
.noticias {
  height: 40vh;
  background-color: rgb(47, 177, 7);
}
.contacto {
  margin: 10% 10% 10% 10%;
  height: 40vh;
  display: grid;
  grid-template-columns: 50fr 50fr;
}

footer {
  height: 25.1vh;
  display: grid;
  grid-template-rows: 1vh 19.9vh 4vh;
  row-gap: 0.1vh;
  color: white;
}
footer p {
  margin: 0;
}
footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.seguinosfooter li {
  float: left;
}
footer li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 0.2vh;
}
footer li a:hover {
  color: gray;
}
.lineafooter {
  background-color: #5227cc;
}
.navfooter {
  padding: 0 10%;
  display: grid;
  grid-template-columns: 30fr 80fr 30fr;
  background: linear-gradient(90deg, #7749f8 0%, #5227cc 100%);
}
.logofooter {
  margin-top: 4vh;
  margin-left: 10vh;
  align-items: center;
}
.nosotrosfooter {
  margin-top: 4vh;
  margin-left: 5vh;
}
.seguinosfooter{
  margin-top: 4vh;
  margin-right: 10vh;
}
.copyright {
  color: #5227cc;
  background: linear-gradient(90deg, #7749f8 0%, #5227cc 100%);
  text-align: center;
}