* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

main {
  z-index: 0;
}

nav {
  height: 10vh;
  background-color: white;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(/Proyecto/Materiales/manos.jpg);
  height:73vh;
  background-position: center;
  background-repeat: no-repeat;
}
.header-titulo {
  color: white;
  text-align: center;
  font-weight: normal;
}
.header-parrafo {
  color: white;
  text-align: center;
  font-weight: normal;
}
main {
  height: 90vh;
  /* background-color: #5398ff; */
  padding: 5%;
}
.soluciones {
  height: 90vh;
  background-color: #5398ff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  padding: 5% 15%;
  gap: 5%;
}
.contenido-soluciones {
  min-width: 365px;
}
.titulo-soluciones {
  font-size: 1.2rem;
  padding: 10% 0% 0% 0%;
}
.p-soluciones {
  font-size: 0.8rem;
  padding: 10% 0%;
}
.imagen-soluciones1 {
  background-image: url(/Materiales/oficina.png);
  background-repeat: no-repeat;
  background-size: 140%;
  background-position: center;
}
.imagen-soluciones2 {
  background-image: url(/Materiales/voluntariado.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.oportunidades {
  height: 50vh;
  text-align: center;
  padding: 2% 15%;
  background-color: #fafafa;
  display: grid;
  grid-template-rows: 1fr 2fr 5fr;
}
.titulo-oportunidades {
  font-size: 1.3rem;
}
.p-oportunidades {
  font-size: 0.8rem;
  padding: 2% 12% 0% 12%;
}

.caja-oportunidades {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2%;
}
.caja {
  border-radius: 15px;
  border: none;
  min-width: 180px;
  min-height: 180px;
}
.icono {
  max-width: 50px;
  position: relative;
  right: 40px;
}
.icono-rojo {
  width: 23px;
}
.rojo {
  background-color: #dc3546;
}
.amarillo {
  background-color: #fb9b08;
}
.verde {
  background-color: #429a00;
}
.celeste {
  background-color: #17a2b7;
}
.mas {
  width: 10%;
  position: relative;
  left: 40px;
  bottom: 20px;
}
.mas-llamados {
  width: 10%;
  position: relative;
  left: 40px;
  bottom: 6px;
}

.caja p {
  color: white;
  position: relative;
  top: 35px;
  font-size: 1.2rem;
  right: 20px;
}

.noticias {
  height: 40vh;
  background-color: rgb(47, 177, 7);
}
.contacto {
  height: 40vh;
  background-color: rgb(0, 0, 0);
}
footer {
  height: 20vh;
  background-color: rgb(145, 50, 22);
}

.navStyle {
  padding: 5px;
  display: grid;
  grid-template-columns: 2fr 4fr 5fr 5fr 2fr 2fr;
  grid-template-rows: auto;
  align-items: center;
}

.navStyle img {
  width: 150px;
  height: auto;
  grid-column: 2;
}

.navStyle ul {
  grid-column: 3;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.navStyle li {
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  display: inline-block;
  padding: auto 20px;
}

.navStyle a {
  text-decoration: none;
  color: black;
}

.navStyle button {
  grid-column: 5;
  background-color: #5227CC;
  color: white;
  border-radius: 20px;
  border-color: #5227CC;
  height: 30px;
  width: 120px;
  
}

.modalStyle {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.close {
  float: right;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.ventana-emergente {
  width: 600px;
  height: 400px;
  border: 1px white solid;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.ventana-emergente-foto {
  background-image: url(./Materiales/imagen-modal.JPG);
  background-size: cover;
  background-color: white;
  border-radius: 9px 0px 0px 9px;
 /* z-index: -1;*/
}
.ventana-emergente-opciones {
  background-color: #fafafa;
  border-radius: 0px 10px 10px 0px;
}
.ventana-emergente-botones {
  display: flex;
  justify-content: space-between;
  padding: 3%;
}
.volver-atras,
.span {
  color: #bdc0c0;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-around;

  font-size: 0.7rem;
}
.volver-atras {
  width: 100px;
}
.ventana-imagen-boton {
  transform: rotate(180deg);
  color: #bdc0c0;
  width: 15px;
  padding-bottom: 2px;
  opacity: 0.7;
}
.span {
  font-size: 1.4rem;
  font-weight: 900;
}
.ventana-emergente-titulo {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
}

.granboton {
  display: grid;
  grid-template-columns: 1fr 4fr;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.034);
  margin: 15px 20px;
  height: 100px;
}

.ventana-emergente-titulo1 {
  font-size: 1rem;
  color: #5597ff;
  padding: 5px 0px;
}
.ventana-emergente-titulo2 {
  font-size: 1rem;
  color: #7948fa;
  padding: 5px 0px;
}
.granboton p {
  font-size: 0.75rem;
  color: #cdd1d4;
}
.maletin {
  background-color: #5597ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0px 0px 5px;
}
.maletin img {
  width: 25px;
}
.persona {
  background-color: #7948fa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0px 0px 5px;
}
.persona img {
  width: 20px;
}
.granboton-texto {
  padding: 0px 10px;
  height: 100px;
}
.flecha {
  border: none;
  background-color: transparent;
  position: relative;
  opacity: 0.5;
  left: 170px;
  top: -15px;
}